@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$theme-colors: (
  "primary": #3a539b,
  "blue": #3a539b,
);

$enable-caret: false;
$enable-responsive-font-sizes: true;

@import "~bootstrap/scss/bootstrap";
